@import "foundation/settings";

@media #{$xlarge-only} {
  html {
    font-size:125%;
  }
}

@media #{$xxlarge-up} {
  html {
    font-size:150%;
  }
}

input[type="button"] {
  background-color: #00CE46;
  color: white;

  &:hover, &:focus {
    background-color: #00A538;
  }

  border-color: #00A538;
}
