@import "mixins/includes";

@media #{$xlarge-only} {
  html {
    font-size: 125%;
  }
}

@media #{$xxlarge-up} {
  html {
    font-size: 150%;
  }
}

table {
  select {
    margin-bottom: 0;
  }
}

.delete-button {
  @include red-button;
}

.button.round {
  border-radius: 0.3rem;

  &.tiny {
    border-radius: 1rem;
  }
}

fieldset, table {
  .button {
    margin-bottom: 0;
  }
}

.submit-button-container {
  float: right;
  input {
    float: left;
  }
  .delete-button {
    margin-right: 1.125rem;
  }
}

form .striped-rows {

  padding: 0;

  .row {
    margin-left: 0;
    margin-right: 0;
    padding: 1.5rem 0.5rem 1.5rem 0.5rem;

    .row {
      margin: 0 -0.5rem;
      padding: 0;
    }

  }
}

.striped-rows > div:nth-of-type(odd) > .stripe {
  background-color: $light-grey;
}

a[disabled].button {
  background-color: $dark-grey;
  color: $light-grey;
  &:hover, &:focus {
    background-color: $dark-grey;
    color: $light-grey;
  }
}

.spacer {
  margin-bottom: 1.125rem;
}
