@import "../mixins/includes";

.bean-editor-page {

  table, tr {
    width: 100%;
  }

  .submit-container {
    text-align: right;
  }

  .label-cell {
    width: 1px;
    white-space: nowrap;
    input {
      width: auto;
    }
    .auto-hide {
      &:not(:focus) {
        border-color: transparent;
        background: transparent;
        box-shadow: none;
      }
    }
  }

  .delete-cell {
    width: 1px;
    input {
      @include red-button;
    }
  }

}
