@import "../foundation/settings";

.bean-editor-page {

  table, tr {
    width: 100%;
    input {
      margin-bottom: 0;
    }
  }

  .submit-container {
    text-align: right;
  }

  .label-cell {
    width: 1px;
    white-space: nowrap;
    input {
      width: auto;
    }
    .auto-hide {
      &:not(:focus) {
        border-color: transparent;
        background: transparent;
        box-shadow: none;
      }
    }
  }

  .delete-cell {
    width: 1px;
    input {
      background-color: $bright-red;
      &:hover, &:focus {
        background-color: $dark-red;
      }
      border-color: $dark-red;
    }
  }

}
