@import "../mixins/includes";

.error-page {

  background-image: url("/images/404.jpg");
  background-size: cover;
  background-position: top right;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 2rem;
  padding-top: 0;
  text-shadow: black 0.1rem 0.1rem;

  color: white;
  .giant-text {
    font-size: 9.5vw;
  }

  .sub-giant-text {
    font-size: 4vw;
    padding-left: 0.5vw;
  }

  .sub-sub-giant-text {
    font-size: 2vw;
    padding-left: 0.85vw;
  }

}
