@import "../mixins/includes";

.home-page {

  .screenshot-container {
    text-align: center;
    background-color: $light-grey;
    padding: 0.9375rem;
    &:hover {
      img {
        -webkit-filter: #{'saturate(2)'};
      }
    }
    position: relative;
  }

  .accordion dd > .content {
    padding: 0;
    padding-top: 1.25rem;
  }

  .edit-title-container {
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    z-index: 1;

    a:hover {
      color: $bright-green;
    }

  }
}
