@import "../functions";

.home-page {

  .screenshot-container {
    text-align: center;
    background-color: #EFEFEF;
    padding: 0.9375rem;
    &:hover {
      img {
        -webkit-filter: #{'saturate(2)'};
      }
    }
  }

  .accordion dd > .content {
    padding: 0;
    padding-top: 1.25rem;
  }

}