@import "../foundation/settings";

.type-editor-page {

  .row div.delete-col {
    padding-top: 1.6rem;
    input {
      background-color: $bright-red;
      &:hover, &:focus {
        background-color: $dark-red;
      }
    }
  }

}
