@import "../mixins/includes";

.type-editor-page {

  .field-title {
    font-size: 1.3rem;
  }

  .field-subtitle {
    font-size: 1.2rem;
  }

  .field-summary {
    cursor: pointer;
  }

  .field-group {
    .first-hr {
      margin-top: 0;
    }
    hr {
      margin-top: 1.1875rem;
    }
  }

  .validator-col {
    margin-bottom: 1.125rem;
  }

}
