<div data-nav></div>
<div class="bean-editor-page">
    <form data-ng-submit="ctrl.saveBean()">
        <div class="row">
            <div class="small-12 columns">
                <table data-ng-repeat="type in types">
                    <tbody>
                    <tr data-ng-repeat="field in type.fields">
                        <td class="label-cell">{{field.displayName}}</td>
                        <td data-ng-switch data-on="field.type">
                            <input data-ng-switch-when="Integer" type="number" data-ng-model="bean.content[field.id]">
                            <select data-ng-switch-when="Reference" data-ng-model="bean.content[field.id]">
                                <option value="">None</option>
                                <option data-ng-repeat="refBean in refBeans[field.attributes.refs[0].refDisplayType]"
                                        value="!REF!:{{refBean.id}}"
                                        label="{{refBean.names[field.attributes.refs[0].refDisplayType]}}"
                                        data-ng-selected="bean.content[field.id] == '!REF!:' + refBean.id"></option>
                            </select>

                            <div data-ng-switch-when="File">
                                <a data-ng-show="bean.content[field.id].url"
                                   data-ng-href="{{$root.rootUrl}}/{{bean.content[field.id].url}}">
                                    {{bean.content[field.id].filename}}
                                </a>
                                <span data-ng-show="!bean.content[field.id].url">{{bean.content[field.id].filename}}</span>
                                <input type="button" class="button tiny round"
                                       data-ng-file-change="ctrl.fileSelected($files, bean, field.id)"
                                       data-ng-file-select value="Upload">
                            </div>
                            <div data-ng-switch-when="Image">
                                <a data-ng-show="bean.content[field.id].url"
                                   data-ng-href="{{$root.rootUrl}}/{{bean.content[field.id].url}}">
                                    {{bean.content[field.id].filename}}
                                </a>
                                <span data-ng-show="!bean.content[field.id].url">{{bean.content[field.id].filename}}</span>
                                <input type="button" class="button tiny round"
                                       data-ng-file-change="ctrl.fileSelected($files, bean, field.id)"
                                       data-ng-file-select data-accept="image/*" value="Upload">
                            </div>
                            <div data-ng-switch-when="Html">
                                <textarea data-ckeditor="editorOptions" data-ng-model="bean.content[field.id]"> </textarea>
                            </div>
                            <input data-ng-switch-default type="text" data-ng-model="bean.content[field.id]">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <fieldset>
                    <h5>Extra Fields</h5>
                    <table>
                        <tbody>
                        <tr data-ng-repeat="field in untypedFields">
                            <td class="label-cell">
                                <input type="text" data-ng-model="field.id" id="label-field-{{field.id}}"
                                       data-ng-class="{'auto-hide': field.id != ''}"
                                       data-ng-model-options="{ updateOn: 'blur'}">
                            </td>
                            <td>
                                <input type="text" data-ng-model="bean.content[field.id]" id="value-field-{{field.id}}">
                            </td>
                            <td class="delete-cell">
                                <a href="#" class="button tiny round delete-button"
                                   data-ng-click="ctrl.deleteRow($index)">X</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table data-ng-if="!hasFields && (!untypedFields || untypedFields.length < 1)">
                        <tr>
                            <td>There are no fields to display.</td>
                        </tr>
                    </table>
                    <a href="#" data-ng-click="ctrl.addRow()" class="button small round">Add Field</a>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="submit-button-container">
                    <input class="button delete-button" type="button" value="Delete" data-ng-click="ctrl.deleteBean()"
                           data-ng-show="showDeleteButton">
                    <input class="button" type="submit" value="Save">
                </div>
            </div>
        </div>
    </form>
</div>
