<div data-nav></div>
<div class="bean-editor-page">
    <form data-ng-submit="ctrl.saveBean()">
        <div class="row">
            <div class="small-12 columns">
                <table data-ng-repeat="type in types">
                    <tbody>
                    <tr data-ng-repeat="field in type.fields track by $index">
                        <td class="label-cell">{{field.displayName}}</td>
                        <td>
                            <div data-beanfield data-fieldtype="field.type" data-content="bean.content"
                                 data-id="field.id" data-attributes="field.attributes" data-refbeans="refbeans"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <fieldset>
                    <h5>Extra Fields</h5>
                    <table>
                        <tbody>
                        <tr data-ng-repeat="field in untypedFields">
                            <td class="label-cell">
                                <input type="text" data-ng-model="field.id" id="label-field-{{field.id}}"
                                       data-ng-class="{'auto-hide': field.id != ''}"
                                       data-ng-model-options="{ updateOn: 'blur'}">
                            </td>
                            <td>
                                <input type="text" data-ng-model="bean.content[field.id]" id="value-field-{{field.id}}">
                            </td>
                            <td class="delete-cell">
                                <a href="#" class="button tiny round delete-button circle"
                                   data-ng-click="ctrl.deleteRow($index)">X</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table data-ng-if="!hasFields && (!untypedFields || untypedFields.length < 1)">
                        <tr>
                            <td>There are no fields to display.</td>
                        </tr>
                    </table>
                    <a href="#" data-ng-click="ctrl.addRow()" class="button small round">Add Field</a>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="submit-button-container">
                    <input class="button delete-button" type="button" value="Delete" data-ng-click="ctrl.deleteBean()"
                           data-ng-show="showDeleteButton">
                    <input class="button" type="submit" value="Save">
                </div>
            </div>
        </div>
    </form>
</div>
