<div class="home-page row">
    <div class="small-12 columns">{{singles}}
        <div data-accordion data-close-others="oneAtATime">
            <div data-accordion-group data-heading="Copygrinder Home" data-is-open="true">
                <ul class="small-block-grid-3">
                    <li data-ng-repeat="singleType in singleTypes">
                        <div class="screenshot-container">
                            <a href="#">
                                <img src="images/screenshot-placeholder.png" alt="screenshot">
                                {{singleType.singularTypeNoun}}
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div data-accordion data-close-others="oneAtATime" data-ng-repeat="manyType in manyTypes">
            <div data-accordion-group data-heading="{{manyType.pluralTypeNoun}}">
                <ul class="small-block-grid-3">
                    <li data-ng-repeat="name in type.content">
                        <div class="screenshot-container">
                            <a href="#">
                                <img src="images/screenshot-placeholder.png" alt="screenshot">
                                ummm
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>