<div class="home-page row">
    <div class="small-12 columns" data-cg-types="cardinality=One as singletons">
        <div data-accordion data-close-others="oneAtATime">
            <div data-accordion-group data-heading="Copygrinder Home" data-is-open="true">
                <ul class="small-block-grid-3">
                    <li data-ng-repeat="singleton in singletons">
                        <div class="screenshot-container">
                            <a href="#">
                                <img src="images/screenshot-placeholder.png" alt="screenshot">
                                {{singleton.singularTypeNoun}}
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div data-accordion data-close-others="oneAtATime" data-ng-repeat="type in types">
            <div data-accordion-group data-heading="{{type.pluralTypeNoun}}">
                <ul class="small-block-grid-3">
                    <li data-ng-repeat="name in type.content">
                        <div class="screenshot-container">
                            <a href="#">
                                <img src="images/screenshot-placeholder.png" alt="screenshot">
                                {{name}}
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>