<div data-nav></div>
<div class="type-editor-page">
    <form data-ng-submit="ctrl.saveType()">
        <div class="row">
            <div class="small-12 columns">

                <div class="row">
                    <div class="small-6 columns">
                        <label>ID
                            <input type="text" data-ng-model="type.id" required/>
                        </label>
                    </div>
                    <div class="small-6 columns">
                        <label>Display Name
                            <input type="text" data-ng-model="type.displayName"/>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label>Instance Name Format
                            <input type="text" data-ng-model="type.instanceNameFormat"/>
                        </label>
                        <label>Cardinality
                            <select data-ng-model="type.cardinality" required>
                                <option value="">Please select</option>
                                <option label="One" value="One"></option>
                                <option label="Many" value="Many"></option>
                            </select>
                        </label>
                    </div>
                </div>

                <fieldset class="striped-rows field-group">
                    <div data-ng-repeat="field in type.fields">
                        <div class="stripe">
                            <div data-ng-show="!field.expanded" data-ng-click="ctrl.expandField(field)"
                                 class="row field-summary">
                                <div class="tiny-12 columns">
                                    <span class="field-title">{{field.displayName}}</span>
                                    <a class="right" href="#" data-ng-click="ctrl.expandField(field)"
                                       id="expand-{{field.id}}">Expand</a>
                                </div>
                            </div>
                            <div data-ng-show="field.expanded" class="row">
                                <div class="medium-12 columns spacer">
                                    <span class="field-title">{{field.displayName}}</span>
                                </div>
                                <div class="medium-4 columns">
                                    <label>Field ID
                                        <input type="text" id="id-field-{{field.id}}" data-ng-model="field.id"
                                               required/>
                                    </label>
                                </div>
                                <div class="medium-4 columns">
                                    <label>Field Display Name
                                        <input type="text" data-ng-model="field.displayName" required/>
                                    </label>
                                </div>
                                <div class="medium-4 columns">
                                    <label>Field Type
                                        <select data-ng-model="field.type" required
                                                data-ng-change="ctrl.fieldTypeChange(field)">
                                            <option value="">Please select</option>
                                            <option label="String" value="String"></option>
                                            <option label="Integer" value="Integer"></option>
                                            <option label="Reference" value="Reference"></option>
                                            <option label="File" value="File"></option>                                          <option label="Reference" value="Reference"></option>
                                            <option label="Image" value="Image"></option>
                                        </select>
                                    </label>
                                </div>
                                <div data-ng-show="field.type == 'Reference'">
                                    <div data-ng-repeat="ref in field.attributes.refs">
                                        <div class="medium-6 columns">
                                            <label>Reference Validation Type
                                                <select data-ng-model="ref.refValidationTypes[0]"
                                                        data-ng-change="ref.refDisplayType = ref.refValidationTypes[0]"
                                                        required>
                                                    <option value="">Please select</option>
                                                    <option data-ng-repeat="refType in refTypes"
                                                            label="{{refType.displayName}}"
                                                            value="{{refType.id}}"
                                                            data-ng-selected="refType.id == ref.refValidationTypes[0]">
                                                    </option>
                                                </select>
                                            </label>
                                        </div>
                                        <div class="medium-6 columns">
                                            <label>Reference Display Type
                                                <select data-ng-model="ref.refDisplayType">
                                                    <option value="">Please select</option>
                                                    <option data-ng-repeat="refType in refTypes"
                                                            label="{{refType.displayName}}"
                                                            value="{{refType.id}}"
                                                            data-ng-selected="refType.id == ref.refDisplayType"
                                                            data-ng-show="ref.refValidationTypes.indexOf(refType.id) != -1">
                                                    </option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="medium-12 columns" data-ng-show="field.validators.length > 0">
                                    <span class="field-subtitle">Validators</span>
                                    <hr class="first-hr">
                                </div>
                                <div class="medium-12 columns validator-col text-right"
                                     data-ng-repeat="validator in field.validators">
                                    <span class="left">{{validatorMap[validator.type].content.displayName}}</span>
                                    <span>
                                        <a class="delete-button button tiny round" href="#"
                                           data-ng-click="ctrl.removeValidator(validator, field)">Remove Validator</a>
                                    </span>
                                    <hr>
                                </div>
                                <div class="medium-12 columns">
                                    <a class="delete-button button round tiny" data-ng-click="ctrl.deleteField($index)"
                                       href="#">
                                        Delete Field
                                    </a>
                                    <a class="button round tiny" href="#" data-dropdown-toggle="#addval-{{$index}}"
                                       data-ng-disabled="field.noValidators"
                                       data-ng-attr-title="{{field.noValidators && 'No validators available' || ''}}">
                                        Add Validator
                                    </a>
                                    <ul id="addval-{{$index}}" class="f-dropdown" tabindex="-1">
                                        <li data-ng-repeat="validator in ctrl.getAvailableValidators(validatorMap, field)">
                                            <a data-ng-click="ctrl.addValidator(validator, field)">
                                                {{validator.content.displayName}}
                                            </a>
                                        </li>
                                    </ul>
                                    <a class="right" href="#" data-ng-click="ctrl.collapseField(field)">Collapse</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="stripe">
                            <div class="row">
                                <div class="tiny-12 columns">
                                    <a class="button small round" data-ng-click="ctrl.addField()">Add Field</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="submit-button-container">
                    <input class="button delete-button" type="button" value="Delete" data-ng-show="showDeleteButton"
                           data-ng-click="ctrl.deleteType()">
                    <input class="button save-button" type="submit" value="Save">
                </div>
            </div>
        </div>
    </form>
</div>
