<div class="type-editor-page">
    <form data-ng-submit="ctrl.saveType()">
        <div class="row">
            <div class="small-12 columns">

                <fieldset>
                    <div class="row">
                        <div class="small-6 columns">
                            <label>ID
                                <input type="text" data-ng-model="type.id" required/>
                            </label>
                        </div>
                        <div class="small-6 columns">
                            <label>Display Name
                                <input type="text" data-ng-model="type.displayName"/>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <label>Instance Name Format
                                <input type="text" data-ng-model="type.instanceNameFormat"/>
                            </label>
                            <label>Cardinality
                                <select data-ng-model="type.cardinality" required>
                                    <option value="">Please select</option>
                                    <option label="One" value="One"></option>
                                    <option label="Many" value="Many"></option>
                                </select>
                            </label>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div data-ng-repeat="field in type.fields" class="row">
                        <div class="medium-3 columns">
                            <label>Field ID
                                <input type="text" data-ng-model="field.id" required/>
                            </label>
                        </div>
                        <div class="medium-4 columns">
                            <label>Field Display Name
                                <input type="text" data-ng-model="field.displayName" required/>
                            </label>
                        </div>
                        <div class="medium-4 columns">
                            <label>Field Type
                                <select data-ng-model="field.type" required>
                                    <option value="">Please select</option>
                                    <option label="String" value="String"></option>
                                    <option label="Integer" value="Integer"></option>
                                </select>
                            </label>
                        </div>
                        <div class="medium-1 columns delete-col">
                            <input type="button" value="X" data-ng-click="ctrl.deleteField($index)"/>
                        </div>
                    </div>
                    <input type="button" value="Add Field" data-ng-click="ctrl.addField()">
                </fieldset>


                <fieldset>
                    <div class="row" data-ng-repeat="validator in type.validators">
                        <div class="medium-4 columns">

                            <label>Validator Type
                                <select data-ng-model="validator.type" required>
                                    <option value="">Please select</option>
                                    <option label="Required" value="required"></option>
                                </select>
                            </label>
                        </div>
                        <div class="medium-8 columns">
                            <table class="validator-args-table">
                                <tr data-ng-repeat="(key, value) in validator.args">
                                    <td>
                                        <input type="text" data-ng-model="key" required/>
                                    </td>
                                    <td>
                                        <input type="text" data-ng-model="value" required/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <input type="button" value="Add Validator">
                </fieldset>

            </div>
        </div>
        <div class="row">
            <div class="small-6 columns">
                <input class="button delete-button" type="button" value="Delete" data-ng-show="showDeleteButton" data-ng-click="ctrl.deleteType()">
            </div>
            <div class="small-6 columns submit-container">
                <input class="button right" type="submit" value="Save">
            </div>
        </div>
    </form>
</div>
