<div class="type-bean-page">
    <div class="row">
        <div class="small-12 columns">
            {{type.displayName}}
            <ul>
                <li data-ng-repeat="bean in beans">
                    <a data-ng-href="/bean/{{bean.id}}">
                        {{bean.names[type.id]}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <a class="button" data-ng-href="/type/{{type.id}}/new">New {{type.displayName}}</a>
        </div>
    </div>
</div>
